.card-photo {
    background: #f1f7fc;
    padding: 80px 0
}

.card-photo .image-holder {
    display: table-cell;
    width: auto;
    background: url(img/QA_Subcont.PNG);
    background-size: cover
}

.card-photo .form-container {
    display: table;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1)
}

.card-photo form {
    display: table-cell;
    width: 400px;
    background-color: #ffffff;
    padding: 40px 60px;
    color: #505e6c
}

@media (max-width:991px) {
    .card-photo form {
        padding: 40px
    }
}

.card-photo form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px
}

.card-photo form .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px
}

.card-photo form .form-check {
    font-size: 13px;
    line-height: 20px
}

.card-photo form .btn-primary {
    background: green;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important
}

.card-photo form .btn-primary:hover,
.card-photo form .btn-primary:active {
    background: green
}

.card-photo form .btn-primary:active {
    transform: translateY(1px)
}

.card-photo form .already {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none
}

